@use './variables' as v;

#perfil {
    .card {
        border: 1px solid v.$color-secondary;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
    }

    .alert-success-custom {
        background-color: lighten(v.$color-success, 15%);
        border-left: 5px solid v.$color-success-dark;
        color: darken(v.$color-success-dark, 10%);
    }
}